*{
	box-sizing: border-box;
}

body{
	width: 1024px;
	background-image: url("../images/#.png");
	font-size: 18px;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	line-height: 22px;
}

h1{
	font-size: 30px;
}

h2{
	font-size: 28px;
}

h3{
	font-size: 26px;
}

ul{
	display: inline;
}

.container{
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	clear: both;
	text-align: center;
}

div{
	margin: 10px 0;
}

p{
	margin: 10px;
}

img{
	width: 200px;
	height: 255px;
}

footer .container{
	padding: 4px 0;
	background-color: #eeeeee;
}


#banner{
	color: white;
	background-color: darkblue;
	padding: 20px 0;
}

#gameDashboard{
	padding: 30px 0;
	background-color: lightseagreen;
}

#viewHelloScreen{
	display: none;
	}

#viewQuestAnsScreen{
	display: none;
}

#viewAnsScreen{
	display: none;
}

#viewClosingScreen{
	display: none;
}


